# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

In [11]:
!pip install gmaps

Requirement already satisfied: gmaps in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (0.9.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from gmaps) (7.6.5)
Requirement already satisfied: six in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from gmaps) (1.16.0)
Requirement already satisfied: ipython>=5.3.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from gmaps) (8.4.0)
Requirement already satisfied: geojson>=2.0.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from gmaps) (2.5.0)
Requirement already satisfied: traitlets>=4.3.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from gmaps) (5.1.1)
Requirement already satisfied: backcall in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: stack-data in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: decorator in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (5.1.1)
Requirement already satisfied: pickleshare in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: jedi>=0.16 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (63.4.1)
Requirement already satisfied: matplotlib-inline in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (0.1.6)
Requirement already satisfied: appnope in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (0.1.2)
Requirement already satisfied: pygments>=2.4.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (2.11.2)
Requirement already satisfied: pexpect>4.3 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipython>=5.3.0->gmaps) (3.0.20)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.2)
Requirement already satisfied: nbformat>=4.2.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.0.0->gmaps) (0.2.0)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.0.0->gmaps) (6.15.2)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.0.0->gmaps) (1.0.0)
Requirement already satisfied: psutil in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.9.0)
Requirement already satisfied: debugpy>=1.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (1.5.1)
Requirement already satisfied: nest-asyncio in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (1.5.5)
Requirement already satisfied: packaging in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (21.3)
Requirement already satisfied: tornado>=6.1 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1)
Requirement already satisfied: pyzmq>=17 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (23.2.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.12)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=5.3.0->gmaps) (0.8.3)
Requirement already satisfied: jsonschema>=2.6 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.4.0)
Requirement already satisfied: jupyter-core in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.10.0)
Requirement already satisfied: fastjsonschema in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (2.16.2)
Requirement already satisfied: ptyprocess>=0.5 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: wcwidth in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.4.12)
Requirement already satisfied: executing in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=5.3.0->gmaps) (0.8.3)
Requirement already satisfied: pure-eval in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=5.3.0->gmaps) (0.2.2)
Requirement already satisfied: asttokens in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=5.3.0->gmaps) (2.0.5)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (21.4.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.2)
Requirement already satisfied: prometheus-client in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.14.1)
Requirement already satisfied: argon2-cffi in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (21.3.0)
Requirement already satisfied: nbconvert>=5 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.4.4)
Requirement already satisfied: jinja2 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.3)
Requirement already satisfied: Send2Trash>=1.8.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.13.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from packaging->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (3.0.9)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4)
Requirement already satisfied: defusedxml in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: beautifulsoup4 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (4.11.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: testpath in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: bleach in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (4.1.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.13)

Requirement already satisfied: MarkupSafe>=0.23 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.0.1)
Requirement already satisfied: argon2-cffi-bindings in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.3.1)
Requirement already satisfied: webencodings in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pycparser in /Users/flip/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.21)

In [12]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

## Ensure that the dependencies and the Google API key is imported correctly.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [14]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_dfs = pd.read_csv(file_path)

# Display sample data
city_data_dfs.head(10)

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-10-06 04:51:36,-54.8000,-68.3000,38.86,87,40,10.36
1,1,Cherskiy,RU,2022-10-06 04:51:36,68.7500,161.3000,29.75,94,100,20.78
2,2,Verrettes,HT,2022-10-06 04:51:36,19.0500,-72.4667,76.59,90,47,3.60
3,3,Rikitea,PF,2022-10-06 04:47:58,-23.1203,-134.9692,69.67,61,71,20.24
4,4,Albany,US,2022-10-06 04:49:27,42.6001,-73.9662,48.92,94,5,3.96
5,5,Hermanus,ZA,2022-10-06 04:51:37,-34.4187,19.2345,51.80,80,41,13.06
6,6,Puerto Escondido,MX,2022-10-06 04:51:37,15.8500,-97.0667,78.60,82,20,5.48
7,7,Adrar,MR,2022-10-06 04:51:37,20.5022,-10.0711,83.57,15,3,11.18
8,8,Cayenne,GF,2022-10-06 04:50:27,4.9333,-52.3333,73.44,100,0,0.00
9,9,Mahebourg,MU,2022-10-06 04:51:38,-20.4081,57.7000,76.24,69,40,12.66

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [15]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temparature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temparature you would like for your trip?"))

What is the minimum temparature you would like for your trip?25
What is the maximum temparature you would like for your trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [16]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_dfs.loc[(city_data_dfs["Max Temp"] <= max_temp) & \
                                        (city_data_dfs["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-10-06 04:51:36,-54.8000,-68.3000,38.86,87,40,10.36
1,1,Cherskiy,RU,2022-10-06 04:51:36,68.7500,161.3000,29.75,94,100,20.78
2,2,Verrettes,HT,2022-10-06 04:51:36,19.0500,-72.4667,76.59,90,47,3.60
3,3,Rikitea,PF,2022-10-06 04:47:58,-23.1203,-134.9692,69.67,61,71,20.24
4,4,Albany,US,2022-10-06 04:49:27,42.6001,-73.9662,48.92,94,5,3.96
5,5,Hermanus,ZA,2022-10-06 04:51:37,-34.4187,19.2345,51.80,80,41,13.06
6,6,Puerto Escondido,MX,2022-10-06 04:51:37,15.8500,-97.0667,78.60,82,20,5.48
7,7,Adrar,MR,2022-10-06 04:51:37,20.5022,-10.0711,83.57,15,3,11.18
8,8,Cayenne,GF,2022-10-06 04:50:27,4.9333,-52.3333,73.44,100,0,0.00
9,9,Mahebourg,MU,2022-10-06 04:51:38,-20.4081,57.7000,76.24,69,40,12.66

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [17]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-10-06 04:51:36,-54.8000,-68.3000,38.86,87,40,10.36
1,1,Cherskiy,RU,2022-10-06 04:51:36,68.7500,161.3000,29.75,94,100,20.78
2,2,Verrettes,HT,2022-10-06 04:51:36,19.0500,-72.4667,76.59,90,47,3.60
3,3,Rikitea,PF,2022-10-06 04:47:58,-23.1203,-134.9692,69.67,61,71,20.24
4,4,Albany,US,2022-10-06 04:49:27,42.6001,-73.9662,48.92,94,5,3.96

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [18]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Lat", "Lng"]]


# Display sample data
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng
0           Ushuaia      AR     38.86 -54.8000  -68.3000
1          Cherskiy      RU     29.75  68.7500  161.3000
2         Verrettes      HT     76.59  19.0500  -72.4667
3           Rikitea      PF     69.67 -23.1203 -134.9692
4            Albany      US     48.92  42.6001  -73.9662
5          Hermanus      ZA     51.80 -34.4187   19.2345
6  Puerto Escondido      MX     78.60  15.8500  -97.0667
7             Adrar      MR     83.57  20.5022  -10.0711
8           Cayenne      GF     73.44   4.9333  -52.3333
9         Mahebourg      MU     76.24 -20.4081   57.7000

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [19]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df.loc[:,"Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

/var/folders/w4/9kdy5q0s2_3_1dhv76_rqnm80000gn/T/ipykernel_33180/1114478248.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df.loc[:,"Hotel Name"] = ""

               City Country  Max Temp      Lat       Lng Hotel Name
0           Ushuaia      AR     38.86 -54.8000  -68.3000
1          Cherskiy      RU     29.75  68.7500  161.3000
2         Verrettes      HT     76.59  19.0500  -72.4667
3           Rikitea      PF     69.67 -23.1203 -134.9692
4            Albany      US     48.92  42.6001  -73.9662
5          Hermanus      ZA     51.80 -34.4187   19.2345
6  Puerto Escondido      MX     78.60  15.8500  -97.0667
7             Adrar      MR     83.57  20.5022  -10.0711
8           Cayenne      GF     73.44   4.9333  -52.3333
9         Mahebourg      MU     76.24 -20.4081   57.7000

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [20]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [21]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params = params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Ushuaia,AR,38.86,-54.8000,-68.3000,Albatross Hotel
1,Cherskiy,RU,29.75,68.7500,161.3000,Gostinitsa
2,Verrettes,HT,76.59,19.0500,-72.4667,"La Verrettienne,Hôtel/Restaurant/Club"
3,Rikitea,PF,69.67,-23.1203,-134.9692,People ThankYou
4,Albany,US,48.92,42.6001,-73.9662,
5,Hermanus,ZA,51.80,-34.4187,19.2345,Misty Waves Boutique Hotel
6,Puerto Escondido,MX,78.60,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
7,Adrar,MR,83.57,20.5022,-10.0711,
8,Cayenne,GF,73.44,4.9333,-52.3333,Hôtel Le Dronmi
9,Mahebourg,MU,76.24,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [23]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Ushuaia,AR,38.86,-54.8000,-68.3000,Albatross Hotel
1,Cherskiy,RU,29.75,68.7500,161.3000,Gostinitsa
2,Verrettes,HT,76.59,19.0500,-72.4667,"La Verrettienne,Hôtel/Restaurant/Club"
3,Rikitea,PF,69.67,-23.1203,-134.9692,People ThankYou
4,Albany,US,48.92,42.6001,-73.9662,
5,Hermanus,ZA,51.80,-34.4187,19.2345,Misty Waves Boutique Hotel
6,Puerto Escondido,MX,78.60,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
7,Adrar,MR,83.57,20.5022,-10.0711,
8,Cayenne,GF,73.44,4.9333,-52.3333,Hôtel Le Dronmi
9,Mahebourg,MU,76.24,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [25]:
# In case of an empty DataFrame, load the sample data provided
clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
clean_hotel_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Aksu,CN,82.42,clear sky,41.12,80.26,Pudong Holiday Hotel
1,7,Touros,BR,80.60,broken clouds,-5.20,-35.46,INN NEW HORIZON
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
3,11,Port Elizabeth,ZA,84.20,clear sky,-33.92,25.57,39 On Nile Guest House
4,16,Northam,GB,82.40,few clouds,51.03,-4.22,Durrant House Hotel
5,18,Hyderabad,IN,87.01,haze,17.38,78.47,"Taj Krishna, Hyderabad"
6,20,Port Alfred,ZA,82.00,clear sky,-33.59,26.89,The Halyards Hotel
7,22,Atuona,PF,79.72,clear sky,-9.80,-139.03,Villa Enata
8,23,Kapaa,US,73.40,heavy intensity rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
9,25,Nikolskoye,RU,88.00,clear sky,59.70,30.79,Tourist House - Sablino

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [26]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [27]:
# Review the formatting template provided
info_box_template = """
Hotel Name
{Hotel Name}

City
{City}
Country
{Country}
Current Weather
{Current Description} and {Max Temp} °F


"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [29]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\nHotel Name\nPudong Holiday Hotel\n\nCity\nAksu\nCountry\nCN\nCurrent Weather\nclear sky and 82.42 °F\n\n\n',
 '\nHotel Name\nINN NEW HORIZON\n\nCity\nTouros\nCountry\nBR\nCurrent Weather\nbroken clouds and 80.6 °F\n\n\n',
 '\nHotel Name\nCCI Express Inn\n\nCity\nMorehead\nCountry\nUS\nCurrent Weather\nclear sky and 75.2 °F\n\n\n',
 '\nHotel Name\n39 On Nile Guest House\n\nCity\nPort Elizabeth\nCountry\nZA\nCurrent Weather\nclear sky and 84.2 °F\n\n\n',
 '\nHotel Name\nDurrant House Hotel\n\nCity\nNortham\nCountry\nGB\nCurrent Weather\nfew clouds and 82.4 °F\n\n\n',
 '\nHotel Name\nTaj Krishna, Hyderabad\n\nCity\nHyderabad\nCountry\nIN\nCurrent Weather\nhaze and 87.01 °F\n\n\n',
 '\nHotel Name\nThe Halyards Hotel\n\nCity\nPort Alfred\nCountry\nZA\nCurrent Weather\nclear sky and 82.0 °F\n\n\n',
 '\nHotel Name\nVilla Enata\n\nCity\nAtuona\nCountry\nPF\nCurrent Weather\nclear sky and 79.72 °F\n\n\n',
 '\nHotel Name\nSheraton Kauai Resort at Coconut Beach\n\nCity\nKapaa\nCountry\nUS\nCurrent Weather\nheavy intensity rain and 73.4 °F\n\n\n',
 '\nHotel Name\nTourist House - Sablino\n\nCity\nNikolskoye\nCountry\nRU\nCurrent Weather\nclear sky and 88.0 °F\n\n\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [30]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

     Lat     Lng
0  41.12   80.26
1  -5.20  -35.46
2  37.27  -87.18
3 -33.92   25.57
4  51.03   -4.22
5  17.38   78.47
6 -33.59   26.89
7  -9.80 -139.03
8  22.08 -159.32
9  59.70   30.79

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [31]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
display(fig)

Figure(layout=FigureLayout(height='420px'))

`